aiohttp==3.7.4.post0
async_timeout==3.0.1
asyncbing==2.0.2
asyncdagpi==4.1.2
asyncpg==0.24.0
asyncpraw==7.4.0
discord.py==1.7.3
disrank==0.0.2
expr==0.0.1h
expr.py==0.3.0
humanize==3.12.0
import_expression==1.1.4
importlib_metadata==4.10.0
jishaku==2.3.2a359+gd8e676f.master
pomice==1.1.4
prsaw==0.4.0
psutil==5.8.0
pygit2==1.7.2
python_dateutil==2.8.2
PyYAML==6.0
tabulate==0.8.9
topggpy==1.4.0
Unidecode==1.2.0
